hr{
   margin-top:1rem;
   margin-bottom:1rem;
   border:0;
   border-top:1px solid rgba(0,0,0,.1); 
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible;
}

hr{
    display:block;
    unicode-bidi:isolate;
    margin-block-start:0.5em;
    margin-block-end:0.5em;
    margin-inline-start:auto;
    margin-inline-end:auto;
    overflow:hidden;
    border-style:inset;
    border-width:1px;
}
.featurette-divider {
    margin: 5rem 0;
}
.carousel-inner{
    max-height: 500px;
  }
.carousel-caption{
    bottom:0 !important;
    top:50% !important;
}