/*  BASIC CSS*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

.color-white{
    color:white;
}

header{
  
    background-image: -webkit-gradient(linear, left top, right bottom, from(#151654), to(#000000));
    background-image: -o-linear-gradient(top left, #151654, #000000);
    background-image: linear-gradient(to bottom right, #151654, #000000);
}

#navbar{
    padding:35px 0;
    max-height: 20%;
}

.nav-item>a{
    color:white
}


main{

}

#particles-js{
    width:100%;
    height:100vh;

    
}

.navbar-toggle .icon-bar{ background-color: #fff;}

#simpleUsage{
    color:white;
    margin-bottom:20px;
}



  #row-content-header{
    height:100%;

  
  }

  #col1-header{
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column ;
            flex-direction: column ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  
  }

  #col2-header{
      width: 50%;
   
  }

  #header-content{
      height:80%;
   
  }

  #h2-money-market{
      font-weight:300px;
  }



  .card-min-height{
    min-height:432px !important;
  }



  hr{
    margin-top:1rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1); 
 }
 
 hr{
     -webkit-box-sizing:content-box;
             box-sizing:content-box;
     height:0;
     overflow:visible;
 }
 
 hr{
     display:block;
     unicode-bidi:-webkit-isolate;
     unicode-bidi:-moz-isolate;
     unicode-bidi:isolate;
     -webkit-margin-before:0.5em;
             margin-block-start:0.5em;
     -webkit-margin-after:0.5em;
             margin-block-end:0.5em;
     -webkit-margin-start:auto;
             margin-inline-start:auto;
     -webkit-margin-end:auto;
             margin-inline-end:auto;
     overflow:hidden;
     border-style:inset;
     border-width:1px;
 }
 .featurette-divider {
     margin: 5rem 0;
 }

 .carousel-inner{
     width:100%;
    max-height: 500px !important;
  }
  .carousel-caption{
    bottom:0 !important;
    top:50% !important;
}

footer{
    min-height:100vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#151654), to(#000000));
    background-image: -o-linear-gradient(top left, #151654, #000000);
    background-image: linear-gradient(to bottom right, #151654, #000000);
}

.container-fluid{
    padding-right:0 !important;
    padding-left:0 !important;
}

#row-contact{
    min-height: inherit;
    margin:0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

#card-contact{
    border-radius:10px;
    -webkit-box-shadow:0 8px 48px rgb(58 65 102 / 10%);
            box-shadow:0 8px 48px rgb(58 65 102 / 10%);
    min-height:500px;
    background-color:white;
    margin: 0 auto;
    width: 30rem !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;

  
}

#img-contact{
    height:200px;
    width:200px;
    border-radius: 50%;
    
}

section{
    padding-top:5%;
}

.card-container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.container-badge{
    text-align: center;
    margin-bottom: 20px;
}

.card-thumnail{
    border:0;
    margin-top:30px;
    padding:25px;
    border-radius:10px !important;
    -webkit-box-shadow:0px 15px 65px 0px rgb(166 172 190 / 30%);
            box-shadow:0px 15px 65px 0px rgb(166 172 190 / 30%);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}  

.card-reset{
    -webkit-box-shadow:0px 0px 0px 0px rgb(166 172 190 / 30%) !important;
            box-shadow:0px 0px 0px 0px rgb(166 172 190 / 30%) !important;
}

.col-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-line-pack:center;
        align-content:center;
}

#section-8{
    color:white;
}


#section-8>.container>.row>.col:last-child>.row>.col{
    background:#101149;
    border-radius: 20px;
    padding:20px;
    margin:10px;
    
}

#section-3>.row>.col>.row>.col:last-child>h6:first-child{
    color:red;
}

.float{
	position:fixed;
	width:auto;
	height:auto;
	bottom:40px;
	left:40px;
  z-index:100;
}
.float:hover{
    color:#FFF;
}

.my-float{
	margin-top:16px;
}

#section-additional h1{
    color:white;
    margin-bottom:40px;
    text-align:center;
}

#header-content{
    color:white;
}

#header-content ul>li{
    text-decoration:none;
    list-style:none;
    margin:20px 0;
    font-size:24px;
}

#header-content ul>li>img{
    width:30px;
    margin-right:20px;
}

#header-content h2{
    text-align:center;
    margin-top:30px;
}

#row-content-header ul>li:before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

#row-content-header h1{
    text-align:center;
}